<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>

    <style>
        body {
            background-image: url("MossyStoneBrick.jpg");
            color: white;
        }
        .jumbotron {
            background-image: url("wood2.jpg");
        }
        h1 {
            color: white;
        }
        h2 {
            color: white;
        }
    </style>

  </head>
  <body>
    <div class="jumbotron">
    <h1><u>Welcome to the Makers and Mortals</u></h1>
    </div>
      <div class="container">
       <div class="clearfix">
        <h2><u>Player</u><h2>
        <p> Coins: $player.coins </p>
          <p2>
            #if($player.is_alive.equals("false"))
                <p>Player Defeated</p>
            #else
              <img class="pull-right" alt="knight_image" width="300" height="200" src="Knight_idle.gif"/>
                <ul>
                    <p>Player: $player.username</p>
                    <p>HP: $player.health </p>
                    <p>Damage: $player.damage_limit </p>
                    <p>Defence: $player.defence</p>
                    <form action="/attack" method="POST">
                         <input class="btn btn-danger btn-lg" type="submit" id="playerAttack" value="Attack">
                    </form>
                </ul>
            #end
          </p2>
       </div>
      </div>

      <div class="container">
        <div class="clearfix">
            <h2><u>Enemy</u><h2>
              <p2>
                #if($enemy.is_alive.equals("false"))
                    <p>Player Won</p>
                #else
                  <img class="pull-right" alt="ork_image" width="300" height="200" src="orc.gif"/>
                    <ul>
                        <p>Enemy: $enemy.username</p>
                        <p>HP: $enemy.health </p>
                        <p>Damage: $enemy.damage_limit </p>
                        <p>Defence: $enemy.defence</p>
                    </ul>
                #end
              </p2>
        </div>
      </div>

     <form action="/shop" method="GET">
        <input class="btn btn-secondary" type="submit" id="shop" value="Shop">
     </form>
  </body>
</html>