<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Welcome to the Makers and Mortals</h1>
    <section>
            <p2>
                <p>$player.username</p><br>
                <p>$player.health </p> <br>
                <p>$player.damage </p><br>
                <p>$player.defence</p><br>
                <p>$player.is_alive</p><br>
                <br>
            </p2>
    </section>
  </body>
</html>