<!DOCTYPE html>
<html>
  <head>
    <title>Casino!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Welcome to the casino</h1>

  </body>
</html>