<!DOCTYPE html>
<html>
  <head>

    <title>Makers and Mortals</title>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="/stylesheet.css" >
  </head>
  <body>
    <h1>Welcome to the Shop, $username</h1>
        <h2>What would you like to increase?</h2>
        <h3>Your Balance: $player.coins</h3>

<div>
                   <form action="/home" method="POST">
                     <input class="btn btn-secondary" type="submit" id="home" value="Health">
                   </form>

                   <form action="/sign_in" method="POST">
                     <input class="btn btn-secondary" type="submit" id="sign_in" value="Damage">
                   </form>

                    <form action="/sign_up" method="POST">
                      <input class="btn btn-secondary" type="submit" id="sign_up" value="Defence">
                    </form>
</div>
  </body>
</html>