<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="/stylesheet.css" >
        <title>Sign In</title>
    </head>
    <body>
        <h1>Sign In to Acebook!</h1>
        <form action="/signed_in" method="POST">
            <em>Username:</em>
            <br>
            <input type="text" name="username">
            <br>
            <em>Password:</em>
            <br>
            <input type="password" name="password">
            <br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>