<!DOCTYPE html>
<html>
    <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/stylesheet.css" >
        <title>Sign Up</title>
    </head>
    <body>
        <h1>Sign Up for Battle!</h1>
         <ul>
                          <li>
                           <form action="/home" method="POST">
                             <input class="navigation" type="submit" name="timeline" value="Home">
                           </form>
                          </li>
                         <li>
                           <form action="/sign_in" method="POST">
                             <input class="navigation" type="submit" name="sign_in" value="Sign in">
                           </form>
                          </li>
                          <li>
                            <form action="/sign_up" method="POST">
                              <input class="navigation" type="submit" name="sign_up" value="Sign Up">
                            </form>
                          </li>
                          <li>
                            <form action="/sign_out" method="POST">
                              <input class="navigation" type="submit" name="sign_out" value="Sign out">
                            </form>
                          </li>
                         </ul>
        <form action="/signed_up" method="POST">
            <em>Username:</em>
            <br>
            <input type="text" name="username">
            <br>
            <em>Full name:</em>
            <br>
            <input type="text" name="full_name">
            <br>
            <em>Password:</em>
            <br>
            <input type="password" name="password">
            <br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>