body {
background-image: url("MossyStoneBrick.jpg");
}

#home {
position:absolute;
  left: 25%;
  top: 40%;
  width: 50%;
  text-align: center;
  font-size: 18px;
}
#sign_in{
position:absolute;
  left: 25%;
  top: 50%;
  width: 50%;
  text-align: center;
  font-size: 18px;

}
#sign_up{

position:absolute;
  left: 25%;
  top: 60%;
  width: 50%;
  text-align: center;
  font-size: 18px;

}
#sign_out{
position:absolute;
  left: 25%;
  top: 70%;
  width: 50%;
  text-align: center;
  font-size: 18px;

}
#battle{
position:absolute;
  left: 25%;
  top: 80%;
  width: 50%;
  text-align: center;
  font-size: 18px;

}

    .wood {
      margin: auto;
      background-image: url("wood2.jpg");
      border-radius: 20px;
      padding: 365px;
      width: 200px;
      height: 100px;
      text-align: right;

    }

#health{
position:absolute;
  left: 32%;
  top: 33%;
  width: 16%;
  text-align: center;
  font-size: 18px;

}
#damage{
position:absolute;
  left: 33%;
  top: 56%;
  width: 30%;
  text-align: center;
  font-size: 18px;

}

#defence{
position:absolute;
  left: 33%;
  top: 74%;
  width: 30%;
  text-align: center;
  font-size: 18px;

}

#healthpotion{
position:absolute;
   left: 60 %;
   top: 33%;
   text-align: center;
   font-size: 18px;

}

.hpotiontext {
      position: absolute;
      font-size: 18px;
      left: 56%;
      top: 33%;
      color: #ffffff;
}

.shelf {
       margin: auto;
       background-image: url("shelf.png");
       background-repeat: no-repeat;
       background-size: 700px 500px;
       border-radius: 20px;
       padding: 365px;
       width: 200px;
       height: 100px;

}

